[Desktop Entry]
Icon=text-html
Name=🌐🌆🏙️ Techno-Optimism vs Human Realities
Type=Link
URL[$e]=https://chatgpt.com/share/68587344-cf14-8009-85c3-eaf9e1e7b11b
