[Desktop Entry]
Icon=text-html
Name=Perplexity: 🏢🏙️🌆 Spiele FilmAgent und erzeuge die Story des Aetheria OS
Type=Link
URL[$e]=https://www.perplexity.ai/search/spiele-filmagent-und-erzeuge-d-2rE7Iq89RBO96KgTyNN5HQ
